<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Add to Yulai</string>
			</dict>
			<key>NSMessage</key>
			<string>collectTextService</string>
			<key>NSPortName</key>
			<string>top.hapaul.Yulai</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>PlainText</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSServiceDescription</key>
			<string>Collect the selected word, phrase, or sentence in Yulai.</string>
		</dict>
	</array>
</dict>
</plist>
